<!-- Fixed navbar -->
<header>
  <app-nav-bar></app-nav-bar>  
</header>

<main class="main">
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
       <router-outlet></router-outlet> 
    </div>
  </div>
</main>

<footer class="navbar navbar-fixed-bottom">
    <div class="text-center">
        <h6 class="white">
            <a href="http://ra2m.herokuapp.com/" target="_blank"><span>RA2M</span></a>
            <i>Admin App</i>
        </h6>
    </div>
</footer>